<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- Latest compiled jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/search">Search</a></li>

            {% if user %}
              <li role="presentation"><a href="/profile">{{ user.name }}</a></li>
              <li role="presentation"><a href="/logout">Log Out</a></li>
            
            {% else %}
            
              <li role="presentation"><a href="/login">Log In</a></li>
              
            {% endif %}

          </ul>

          <h3 class="text-muted">Grumbl</h3> 

        </nav>
      </div>

      {% include 'partials/alert.html' %}
      {% block body %}
      {% endblock %}

      <footer class="footer">
        <p>&copy; 2017 Anurag Prasad / Tanatsigwa Hungwe / Ann Ming Samborski / Allen Miller</p>
      </footer>

    </div> 
  </body>
</html>