<!DOCTYPE html>
<html lang="en">
  <head>

  	<title>Grumbl - Unauthorized User</title>
    <meta charset="utf-8">
    s
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  	
    <!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	
    <!-- Latest compiled JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
  	<div class="jumbotron text-center">
  		<h1>Grumbl</h1> 
      <p>Profile</p>
	</div>

  <h1>You must <a href='/login'>sign in</a> to view this page</h1>
  <h1> or <a href='/register'>make an account</a>.</h1>

  </body>
  </html>
